*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(122, 134, 61);
  border-radius: 10px;
  font-family: 'Raleway','sans-serif';
}

.user{
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
input{
  height: 50px;
  width: 500px;
  border-bottom: 2px solid red;
  outline: none;
}

button{
  padding: 10px;
  margin: 5px;
  background-color: yellow;
}
h2{
  text-align: center;
  margin: 20px 0;
}

.textLeft{
  text-align: left;
  margin-left: 5px;
}

.card{
  width: 900px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
}

.image{
  min-width: 155px;
  margin-right: 20px;
}

.stats{
  background-color: #f2f5f8;
  color: #000;
}

.articles{
  font-size: 10px;
  color: #a1aab9;
}

.number1{
  font-weight: 500;
}

.followers{
  font-size: 10px;
  color: #a1aab9;

}

.number2{
  font-weight: 500;
}

.rating{
  font-size: 10px;
  color: #a1aab9;
}

.number3{
  font-weight: 500;
}